@import "tailwindcss";

:root {
  --font-vazir: ui-sans-serif;
}

body {
  font-family: var(--font-vazir);
}

.screen-only {
  display: block;
}

.print-only {
  display: none;
}

@media print {
  @page {
    margin: 10mm;
  }

  html,
  body {
    direction: rtl;
    background: white !important;
    overflow: visible !important;
  }

  .screen-only {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }

  .print-area {
    margin: 0 !important;
    box-shadow: none !important;
    border: none !important;
    overflow: visible !important;
  }

  .print-avoid-break {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
  }

  table {
    break-inside: auto;
    width: 100%;
  }

  tr {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  /* خیلی مهم برای کاهش هنگ */
  * {
    box-shadow: none !important;
    filter: none !important;
    text-shadow: none !important;
    transition: none !important;
    animation: none !important;
    transform: none !important;
  }
  .pdf-export * {
  all: revert !important;
}
}
